*.jpg
*.png
*.pth
*.out
data
*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
**/rewards/**/*.np[zy]
**/ious/**/*.np[zy]
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*
action_sin/
after/
before/
ious/
rewards/
loggings/
output/
pretrain_model/
tb/
runs/
action.npy
debug_rewards.npy
*.code-workspace*

*.so*
*build

*imgui.ini*

#third_party
*logs*

rl2seq

*plot_table*

*HW1*
