*.jpg
*.png
*.pth
*.out
data
*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
**/rewards/*np[zy]
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*

*.code-workspace*

*.so*
*build

*imgui.ini*

#third_party
*logs*

rl2seq

*plot_table*
*tools*

*HW1*
