# IDE configuration
*.code-workspace*
*.idea
*.vscode*
# system configuration
*.DS_Store*
*imgui.ini*
# video & image
*.jpg
*.png
*.avi
# nohup output
*.out
*.txt
# results
**/rewards/**/*.np[zy]
**/ious/**/*.np[zy]
loggings/
output/
pretrain_model/
# temporary
*tmp*
output_actor
after/
before/
runs/
# python & pytorch
*__pycache__*
*pytest_cache*
data
*.pkl
*.ply*
*.pth
action.npy
debug_rewards.npy
*feh_*
*egg-info*
*linecount*
*dsprites-dataset*
action_sin/
tb/
ChamferDistancePytorch/
# compiler output
*.so*
*build
#third_party
*logs*
rl2seq
*plot_table*
*HW1*
